body{ background-color: azure;}
div{ border-radius: 10px; text-align: center; border: 1px solid black;}
#container {
    width: 1350px;
    margin: 0 auto;
    background-color: #FFFFFF;
    background:  -webkit-linear-gradient(#FFFFFF,#DEF2F1);
    background:  -ms-linear-gradient(#FFFFFF,#84CEEB);
    background: linear-gradient(#ffffff,#DEF2F1);
}
#left-side{float: left;width: 35%; min-height: 29px; padding: 2px;}
#middle-side{float: left; width: 71%; min-height: 500px;}
#right-side{float: right; width: 63%; min-height: 300px;}
#droit{float: left;width: 29%; min-height: 200px;}
#footer-down {float :left; width: 1500px;}
